<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kassasysteem.Properties.Settings.KassaAppConnectionString"
            connectionString="Data Source=LAPTOP-7JBTC30N\SQLEXPRESS;Initial Catalog=KassaApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kassasysteem.Properties.Settings.dbAutoConnectionString"
            connectionString="Data Source=LAPTOP-OBIEBMU5\SQLEXPRESS;Initial Catalog=dbAuto;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
